:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --taille:400px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;

}

main {
    width: 375px;
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 20px 100px -50px hsl(223, 47%, 23%, .50);
    

}

main > img {
    width: 375px;
    border-radius: 15px 15px 0 0;
}


main > div {
    padding: 10%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 15px 15px;
    gap:25px;
}

/* order */
main > div > h1 {
    font-weight: 900;
    color: var(--Dark-blue);
}

/* every text */
main div p {
    font-weight: 500;
    font-size: 16px;
}

/* 3 lines text */
main > div > p:nth-child(2) {
    
    line-height: 22px;
    
    color: var(--Desaturated-blue);
}

/* middle square */
main > div > div {
    display: flex;
    
    align-items: center;
    padding: 10px;
    background-color: var(--Very-pale-blue);
    
    border-radius: 10px;
    gap: 10px;
    justify-content: space-between;
    
}

/* left in middle square*/
main > div > div > div {
    display: flex;
    
    
}

main > div > div > div > img {
    width: 50px;
    margin: 10px;
    height: auto;
}

main > div > div > a {
    margin: 10px;
    font-weight: 700;
    color: var(--Bright-blue);
}
main > div > div > a:hover {
    color: hsl(245, 75%, 52%, .65);
    transition: 150ms;
    text-decoration: none;
}

main > div > div > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    
} 

main > div > div > div > div > p:nth-child(1) {
    font-weight: 900;
}

main > div > div > div > div > p:nth-child(2) {
    color: var(--Desaturated-blue);
}

/* payment */


main > div > p:nth-child(4) > a {
    width: 100%;
    display: block;
    padding: 10px;
    
    background-color: var(--Bright-blue);
    border-radius: 10px;
    
    color: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0px 15px 20px hsl(245, 75%, 52%, .30);;
}

main > div > p:nth-child(4) > a:hover {
    background-color: hsl(245, 75%, 52%, .65);
    transition: 150ms;
}

/* cancel */

main > div > p:nth-child(5) > a{
    color: var(--Desaturated-blue);
    font-weight: 900;
    text-decoration: none;
}

main > div > p:nth-child(5) > a:hover {
    color: var(--Dark-blue);
    transition: 150ms;
}

/* responsive */

@media screen and (max-width: 375px) {
    
    main {
        width:330px;
        
    }

    main img {
        width:330px;
    }

    main > div { 
        padding: 10% 7%;
    }

}

.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }