:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;

}


main {
    width: 400px;
    height: 800px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

main > img {
    width: 400px;
    border-radius: 10px 10px 0 0;
}

main > div {
    padding: 10%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}

main > div > h1 {
    font-weight: 900;
    margin: 15px;
}

main > div > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom:25px ;

}

main > div > div {
    display: flex;
    
    
    align-items: center;
    padding: 10px;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
}

main > div > div > img {
    width: 50px;
    margin: 10px;
    height: auto;
}

main > div > div > a {
    position: absolute;
    right: 15%;
}






main > div > div > div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    
} 


main > div > div > div > p:nth-child(1) {
    font-weight: 700;
}
















.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }